@charset "UTF-8";

@font-face {
    font-family: "Android";
    src: url(fontes/idroid.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;

}
:root {
    --cor1: #00EF16;
    --cor2: #2AD132;
    --cor3: #22A82F;
    --cor4: #28802A;
    --cor5: #2C5327;

    --font-1: 'Android', arial;
    --font-2: 'Oswald', sans-serif;

}

body{
    background-color: #0d74184d;
    
}

header{
    text-align: center;
    background-image: linear-gradient(to bottom, #05ff1ea6, #2c5327 85% );
    min-height: 150px;
    padding-top: 40px;
}

header > h1{
    font-size: 35px;
    font-weight: 800;
    font-family: var(--font-2);
    text-shadow: #2C5327 4px 4px 10px;
    color: white;
    margin-bottom: 20px;
   
}

header > p{
    font-size: 20px;
    font-family: var(--font-2);
    color: white;
    padding: 20px;
    margin: auto;
    max-width: 500px;

}

nav{
    background-color: #2C5327;
    font-family: var(--font-2);;
    font-weight: bold;
    padding: 10px;
 
}

nav > a{
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 8px;
    border-radius: 5px;
    transition-duration: 0.3s;
    
}

nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor5);
    
}

main{
    background-color: white;
    box-shadow: #2c532794 0px 0px 20px;
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

main > h1{
    font-family: var(--font-1);
    font-weight: 800;
    color: var(--cor4);
    text-shadow: #2C5327 0px 0px 2px;
    margin: 10px 0px;
}

main > h2{
    font-family: var(--font-1);
    font-weight: 800;
    color: var(--cor4);
    background-image: linear-gradient(to right, #0ff51a34, rgba(255, 255, 255, 0));
    margin: 10px 0px;
}

main > p{
    text-align: justify;
    text-indent: 2em;
    line-height: 1.5em;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0px;
}

img{
    margin: auto;
    width: 100%;
    display: block;
    
}

img.bug{
    width: 50%;
}

div.video{
    background-color: var(--cor5);
    margin-bottom: 30px;
    padding: 20px ;
    padding-bottom: 42%;
    position: relative;
}

div.video >iframe{
    position: absolute;
    top: 5%;
    left: 15%;
    width: 70%;
    height: 90%;

}

aside{
    font-size: 18px;
    border-radius: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0d74184d;
}

aside > h2{
    color: white;
    font-size: 20px;
    padding: 7px;
    border-radius: 1em 1em 0em 0em;
    margin: 0px 0px 10px 0px;
    font-family: var(--font-2);
    background-color: #288029af;
}

aside > ul{
    margin: 0px 20px;
    padding: 20px;
    columns: 2;
}

aside > p{
    text-align: justify;
    text-indent: 2em;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    line-height: 1.5em;
}

footer{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: var(--cor5);
    margin-top: 30px;
    padding: 6px;
}